.contenedor{
    display: flex;
    justify-content: center;
}

.cuadrado{
    height: 100px;
    width: 100px;
    cursor: pointer;
}

.rojo{
    background-color: red;
}

.amarillo{
    background-color: yellow;
}

.verde{
    background-color: green;
}

p{
    display: flex;
    justify-content: center;
    font-size: 25px;
}